<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="card shadow p-4" style="width: 350px">
    <h3 class="text-center mb-3">Sign in</h3>
    <% if (alerts.error) { %>
    <div class="alert alert-danger mb-3" role="alert"><%= alerts.error %></div>
    <% } %>
    <form action="/auth/signin" method="POST">
      <div class="mb-3">
        <label for="emailOrUsername" class="form-label"
          >Email or Username</label
        >
        <input
          type="text"
          class="form-control bg-black border"
          id="emailOrUsername"
          name="emailOrUsername"
          value="<%= alerts.oldEmailOrUsername %>"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control bg-black border"
          id="password"
          name="password"
        />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn btn-primary w-100">Sign in</button>
    </form>
    <p class="text-center mt-3"><a href="/auth/signup">Create an account</a></p>
  </div>
</div>
