<a
  href="/profiles/<%= user.id %>"
  class="d-flex align-items-center text-decoration-none text-white"
>
  <img
    src="<% user.profilePicture ? user.profilePicture : '/images/default-avatar.png' %>"
    alt="User Avatar"
    class="rounded-circle me-3 border"
    width="40"
    height="40"
  />

  <h6 class="mb-0"><%= user.username %></h6>
</a>
