<div
  class="w-full mt-5 d-flex flex-column align-items-center justify-content-center"
>
  <img src="/images/404.png" alt="404 Not found" width="200" />
  <h3 class="my-2">Page not found!</h3>
  <a href="/" class="btn btn-subtle">Go to home</a>
</div>
