:root {
  --border-color: #222;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.max-width {
  max-width: 800px;
}

.card {
  background-color: #000 !important;
}

.border,
.border-bottom,
.border-top {
  border-color: var(--border-color) !important;
}

.btn-subtle {
  border: 1px solid var(--border-color);
  padding: 6px 12px;
}

.btn-subtle:hover {
  border: 1px solid var(--border-color);
  background: var(--border-color);
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  border: 1px solid #3f3f3f !important;
}

/* Active page highlighting */
.pagination .page-item.active .page-link {
  background-color: #1268f3 !important; /* Choose the color you want for active page */
  color: white;
}

/* Hover effect for page numbers */
.pagination .page-item .page-link:hover {
  background-color: #1268f3 !important; /* Choose the hover background color */
}

/* Disabled page (previous/next) */
.pagination .page-item.disabled .page-link {
  background-color: var(--border-color) !important;
}

/* Post image */
.post-image {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover; /* or use 'contain' if you want to show full image without cropping */
  border-radius: 0.5rem;
}

.dynamic-post-image {
  width: 100%;

}
